/* html, body
{
	height:100%;
}

#page {
    position:relative;
	min-height: 100%;
}

* html #page {height: 100%;}

#content{
	padding-bottom: 50px;
}

#footer
{
	font-size: 0.8em;
	text-align: left;
	line-height:15px;
	position:absolute;
	bottom:0;
}

.grid-view, .list-view{
	padding-top:0;
} */

.grid-view .button-column{
	width: 70px !important;
}

.search-form{
	margin-top: 10px;
}

.btn-first a{
	margin-left: 0 !important;
}